doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Gulp4
    link(rel="stylesheet", href="css/styles.css")
  body
    .slider
      .slider-item
      .slider-item
      .slider-item

script(src="js/libs.min.js")
script(src="js/index.js")